.sidebar {
    background-color: var(--purple-1-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    padding: 32px 20px;
    position: fixed;

    p {
        margin-bottom: 0;
    }

    hr {
        border: none;
        outline: none;
        height: 1px;
        width: 80%;
        background-color: var(--purple-3-color);
        margin: 12px 0;
    }

    .sidebar--top.brand {
        display: flex;
        align-items: center;
        flex-direction: column;

        .brand__name {}

        .brand__logo {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            margin: 8px 0 4px;
        }
    }

    .sidebar--bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;

        .user-avatar {
            width: 50px;
            height: 50px;
            border: 2px solid white;
            border-radius: 50%;
        }

        svg {
            margin-top: 20px;
            width: 54px;
            height: 54px;
            padding: 12px;
            border-radius: 16px;
            transition: 0.1s linear;

            &:hover {
                cursor: pointer;
                background-color: var(--purple-2-color);
            }
        }
    }

}